/*prismpop.css*/

#prismpop{
	padding: 20px;
	width: 100px;
	height: auto;
	background: #eaeaea;
	position: absolute;
	display: none;
	border-color: #444141;
	border-style: solid;
	border-width: 1px;

	width: 300px;
	z-index: 2;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	position:absolute;
	right:110px;
	top:10px;
}

#prismbutton{
	width: 100px;
	height: 100px;
	background: none;
	color: white;
	position: absolute;
	right: 0px !important;
	top: 0px !important;
}

#close{
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background-color: 
	border-radius: 5px;
	border:1px solid #666666;
	padding:3px;
	float:right;
	color:#666666;
}